.home-header {
	color: #F8F8F8;
}

.home-header h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 3em;
}

.home-header h2 {
	font-size: 1.5em;
	font-weight: 300;
}

.home-footer {
	color: #222222;
	font-size: 8px;

	margin: 2em;

	position:absolute;
	left: 0;
	bottom: 0;
}

