.App {
	padding: 1em 2em
}

.App-header {
  	color: #F8F8F8;
}

.App-header h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 3em;
}

.App-header h2 {

	font-size: 1.5em;
	font-weight: 300;
}
