.button {

	text-transform: uppercase;
	color: #E3E3E3;
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	
	width:30%;

	padding: 0.2em;
	margin: 1em;

	background: #425EC3;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 0.4em;
}